extends ../layout

block content
	h2 Account

	h3=user.firstName + ' ' + user.lastName

	#credit-cards
		#credit-cards-list
			h4 Credit Cards

			table
				thead
					th #
					th Provider
					th Number
					th Expires
					th 

				tbody
					if user.creditCards && user.creditCards.length
						each card, i in user.creditCards
							tr.card
								th= i
								td= card.cardNumber
								td= card.expirationDate
								td
									a(href="/account/card/remove/" + card._id)
										Remove

		form#create-new-credit-card(action="/account/credit-cards/add", method="post")
			h4 Add New Credit Card

			.input
				label
					strong Card Number
					input(type="text", name="number")

			.input
				label
					strong Expiration Date

				select(name="expMonth")
					option(value='01') Jan
					option(value='02') Feb
					option(value='03') Mar
					option(value='04') Apr
					option(value='05') May
					option(value='06') Jun
					option(value='07') Jul
					option(value='08') Aug
					option(value='09') Sep
					option(value='10') Oct
					option(value='11') Nov
					option(value='12') Dec

				select(name="expYear")
					option 2014
					option 2015
					option 2016
					option 2017
					option 2018

			.input
				label
					strong Code
					input(type="text", name="code", size=3)

			input(type="submit", value="Add to Account")

