extends ../layout

block content
	h2 Account Login

	form(method="post")
		fieldset
			.input
				strong Email:
				input(type="email", name="email")

			.input
				strong Passowrd:
				input(type="password", name="password")

		input(type="submit", value="Login")
		