extends layout

block content
	h2 Our Coders

	#coders
		each coder in coders
			.coder
				a(href="/coder/" + coder._id)
					.figure
						img(src="/data/users/" + coder.imagePath, alt="coder")

					h3= coder.name

					p= coder.resume

					span.view-more View More
