doctype html

html
	head
		title Rent A Coder

		link(rel='stylesheet', href='/stylesheets/style.css')
		
	body
		#wrapper
			header#main-header
				.logo
					h1
						a(href="/") 
							| Rent a Coder

					p.slogan Lorem ipsum dolor sit amet.

				ul.menu
					li: a(href="/account") View Account
					li: a(href="/account/login") Login
					li: a(href="/account/register") Register
					li: a(href="/cart") View Cart

				.intro
					p
						| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sit amet nibh nunc. Nulla eleifend, lorem ut sodales interdum, ipsum turpis sodales lectus, eget rutrum orci ligula ac urna. 
		
			section#content
				block content