doctype html

html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		#wrapper.container
			header#main-header.row
				h1 Rent a Coder
		
			section#content.row
				block content