extends layout

block content

	h1= "Thank You " + post.first_name + ' ' + post.last_name

	p
		| Your purchase for 
		strong= post.item_name
		|  has been successful.

	p Please check your email for further instructions.

	a(href="/") Continue

	.post-info
		h3 Post Info:
		
		ul
			each val, index in post
				li
					strong= index + ':'
					span= val