@import './colours';

body {
	margin: 0;
	padding: 0;
	font-family: Helvetica;
}

#wrapper {
	width: 990px;
}

#main-header {
	float: left;
	width: 300px;
	padding-left: 30px;
	color: white;
	background: @dark-orange;

	.intro {
		font-size: 80%;
	}
}

#content {
	float: left;
	padding-left: 40px;
	width: 500px;
}

.coder {
	.figure {
		width: 100px;
		height: 100px;
		border-radius: 100px;
		overflow: hidden;

		img {
			width: 100px;
		}
	}
}